.header-container{
    .header{
        background-color: #1877FE;
        height: 3em;
        color:white;
    }
    .header-mobile{
        background-color: #1877FE;
        height: 3em;
        color:white;

    }
}