.header{
    .header-container{
        height: 50px;
        background-color: #AE445A;
        color: aliceblue;
        h1{
            margin-bottom: 0px !important; 
            font-weight: 900 !important;
         }
         
         
    }
    .padding-20{
        padding: 20px;
     }
    
}
