#page-container {
  position: relative;
  min-height: 100vh;
}
.home-container{
  margin: 2rem;
  padding-bottom: 50px;
}

.space-10 {
  padding: 10px;
}

.card{
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
}